# *** Tuples exercises ***

## 1. Write a Python program to create a tuple of numbers and print one item.

In [10]:
tu1=(1,2,3,4,5)
print (tu1[1])

2

## 2. Write a Python program to unpack a tuple into several variables.

In [18]:
tu1=(1,2,3,4,5.5,"ahmed",True)
print(tu1[0],tu1[1],tu1[2],tu1[3],tu1[4],tu1[5],tu1[6])
print(tu1[0:-1])

1 2 3 4 5.5 ahmed True
(1, 2, 3, 4, 5.5, 'ahmed')

## 3. Write a Python program to add an item to a tuple at index number 2.

In [48]:
# tuple is immutable i cannot add or remove unless i changed it into list
tu1=(1,2,3,4,5.5,"ahmed",True)
lis1=list(tu1)
print (lis1)
lis1.insert(2,10)
print (lis1)
tu1=tuple(lis1)
print(tu1)

[1, 2, 3, 4, 5.5, 'ahmed', True]
[1, 2, 10, 3, 4, 5.5, 'ahmed', True]
(1, 2, 10, 3, 4, 5.5, 'ahmed', True)

## 4. Write a Python program to convert a tuple to a string.

In [66]:
tu1=(1,2,3,4,5.5,"ahmed",True)
str1=''.join(map(str, tu1))
print(str1)

12345.5ahmedTrue

## 5. ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's') => 'exercises'

In [71]:
tu1=('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str1=''.join(map(str, tu1))
print(str1)

exercises

## 6. Write a Python program to remove an item from a tuple.

In [74]:
tu1=(1,2,3,4,5.5,"ahmed",True)
lis1=list(tu1)
print (lis1)
lis1.remove(2)
print (lis1)
tu1=tuple(lis1)
print(tu1)

[1, 2, 3, 4, 5.5, 'ahmed', True]
[1, 3, 4, 5.5, 'ahmed', True]
(1, 3, 4, 5.5, 'ahmed', True)

### 7. Write a Python program to reverse a tuple.

In [77]:
tu1=(1,2,3,4,5.5,"ahmed",True)
lis1=list(tu1)
print (lis1)
lis1.reverse()
print (lis1)
tu1=tuple(lis1)
print(tu1)

[1, 2, 3, 4, 5.5, 'ahmed', True]
[True, 'ahmed', 5.5, 4, 3, 2, 1]
(True, 'ahmed', 5.5, 4, 3, 2, 1)

## 8. Write a Python program to replace the last value of tuples in a list.

In [82]:
tu1=(1,2,3,4,5.5,"ahmed",True)
lis1=list(tu1)
print (lis1)
lis1[-1]=[10,20,30]
print (lis1)
tu1=tuple(lis1)
print(tu1)

[1, 2, 3, 4, 5.5, 'ahmed', True]
[1, 2, 3, 4, 5.5, 'ahmed', [10, 20, 30]]
(1, 2, 3, 4, 5.5, 'ahmed', [10, 20, 30])

#                                          *** List Exercises ***

## 1. Create a list of your favorite fruits. Add another fruit to the end of the list using append().

In [92]:
fru=['Banana','apple','mango']
fru.append('Berry')
print(fru)

['Banana', 'apple', 'mango', 'Berry']

## 2. Create two lists of numbers, then extend the first list by adding all elements from the second list using extend()

In [97]:
lis1=[1,2,3,4,5,6]
lis2=[7,8,9,10,11]
lis1.extend(lis2)
print(lis1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

## 3. insert(index, item) Start with a list of colors. Insert a new color at the second position (index 1).

In [100]:
lis1=["red","green","blue"]
lis1.insert(1,"yellow")
print(lis1)

['red', 'yellow', 'green', 'blue']

## 4. Create a list of city names with some duplicates. Use remove() to delete the first occurrence of a city

In [103]:
city=["cairo","dahab","alex","cairo","aswan"]
city.remove("cairo")
print(city)

['dahab', 'alex', 'cairo', 'aswan']

## 5. pop(index) Make a list of your favorite animals. Use pop() to remove the animal at the third position and store it in a variable

In [108]:
anim=["hawk","bat","honey badger","eagle"]
fav=anim.pop(2)
print(anim)
print(fav)

['hawk', 'bat', 'eagle']
honey badger

## 6. clear() Create a list of random numbers, then clear it using clear().

In [113]:
ran1=[5,8,6,3,4,7,9,2,4,2,5]
ran1.clear()
print(ran1)

[]

# *** Dictionary Function Exercises ***

## 1. Create a dictionary of country capitals. Use get() to retrieve the capital of 'France', with a default value if it’s not in the dictionary.

In [133]:
dic1={'egypt':'cairo','france':'paris','england':'london'}
print(dic1)
print(dic1.get('france'))
print(dic1.get('Canada'))

{'egypt': 'cairo', 'france': 'paris', 'england': 'london'}
paris
None

## 2. Make a dictionary of programming languages and their popular frameworks. Use keys() to get a list of all languages.

In [150]:
lan1={'c':'embedded','python':'AI','java':'Web'}
print(lan1.keys())

dict_keys(['c', 'python', 'java'])

## 3. Using the previous dictionary, get a list of all frameworks using values().

In [153]:
lan1={'c':'embedded','python':'AI','java':'Web'}
print(lan1.values())

dict_values(['embedded', 'AI', 'Web'])

## 4. Use items() to get a list of all key-value pairs in a dictionary representing items and their prices.

In [156]:
lan1={'c':'embedded','python':'AI','java':'Web'}
print(lan1.items())

dict_items([('c', 'embedded'), ('python', 'AI'), ('java', 'Web')])

## 5. Create a dictionary with some initial values, and then use update() to add more items.

In [175]:
dic1={'egypt':'cairo','france':'mosco','england':'london'}
print(dic1)
print(dic1.update({'france':'paris'}))
print(dic1)

{'egypt': 'cairo', 'france': 'mosco', 'england': 'london'}
None
{'egypt': 'cairo', 'france': 'paris', 'england': 'london'}

## 6. Remove an item from a dictionary of students by using pop(), then store the popped value in a variable.

In [184]:
dic1={'ali':'22','ahmed':'35','mohamed':'30'}
ali_age=dic1.pop('ali')
print(ali_age)

22

## 7. Create a dictionary and use clear() to remove all items.

In [189]:
dic1={'ali':'22','ahmed':'35','mohamed':'30'}
dic1.clear()
print(dic1)

{}

# Thank you
# Ahmed Wahba